div {
  width: 500px;
  height: 500px;
  color: aqua;
  background: #333333;
}

#main {
  color: white;
  width: 750px;
}

.text-white {
  color: white;
}

.alert {
  height: 350px;
  color: gray;
}

div {
  background:bisque;
}

.alert-warning {
  background: #000000;
  color: yellow;
}